extends layout

block content
  #info-box
    .ui.top.pointing.secondary.inverted.menu
      a.item.active(data-tab="running")
        i.child.icon
      a.item(data-tab="cycling")
        i.bicycle.icon
      a.item(data-tab="upload")
        i.plus.icon

    .ui.bottom.attached.tab.card-tab.active(data-tab="running")
      #running-tab-app
        .ui.form
          .field
            .ui.icon.input
              input(type='text', name='q')
              i.search.icon

        .runonymous-sorting
          a.right.floated.meta
            i.sync.icon(v-on:click="fetchData()")

          .ui.dropdown
            input(type="hidden" name="sort" v-model="sorting" @change="sorting=$event.target.value")
            .text Latest
            i.dropdown.icon
            .menu
              .item(data-value="") Latest
              .item(data-value="distance") Longest Distance
              .item(data-value="duration") Longest Time
              .item(data-value="pace") Fastest Pace
              .item(data-value="calories") Most Calories Burned

        template(v-for="(item, index) in rows")
          .ui.raised.card(v-bind:class="{'selected': isSelectedRow(index)}")
            .content(v-on:click="selected_row=index")
              .header
                | {{ item.name }}
              .right.floated.meta
                span.right.floated
                  template(v-if="(sorting==null || sorting=='' || sorting=='distance')")
                    i.road.icon
                    b {{ item.distance | truncateDistance }} km

                  template(v-if="sorting=='duration'")
                    i.stopwatch.icon
                    b {{ item.duration | durationToHMS}}

                  template(v-if="sorting=='pace'")
                    i.stopwatch.icon
                    b {{ item.avg_pace | truncate}} kph


                  template(v-if="sorting=='calories'")
                    i.stopwatch.icon
                    b {{ item.calories_burned | truncate}} kCal

              .meta
                | {{ item.start_time | prettyDate}}

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.road.icon
                  b {{ item.distance | truncateDistance }} km

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.stopwatch.icon
                  b {{ item.duration | durationToHMS}}

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.fire.icon
                  b {{ item.calories_burned | truncate}} kCal

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.tachometer.alternate.icon
                  b {{ item.avg_pace | truncate}} kph

            .extra.content(v-if="isSelectedRow(index)")
              .buttons
                button.ui.icon.mini.basic.button(v-on:click="deleteTrack(index)")
                  i.trash.icon

    .ui.bottom.attached.tab.card-tab(data-tab="cycling")
      #cycling-tab-app
        form.ui.form
          .field
            .ui.icon.input
              input(type='text', name='name')
              i.search.icon

        .runonymous-sorting
          a.right.floated.meta
            i.sync.icon(v-on:click="fetchData()")

          .ui.dropdown
            input(type="hidden" name="sort" v-model="sorting" @change="sorting=$event.target.value")
            .text Latest
            i.dropdown.icon
            .menu
              .item(data-value="") Latest
              .item(data-value="distance") Longest Distance
              .item(data-value="duration") Longest Time
              .item(data-value="pace") Fastest Pace
              .item(data-value="calories") Most Calories Burned

        template(v-for="(item, index) in rows")
          .ui.raised.card(v-bind:class="{'selected': isSelectedRow(index)}")
            .content(v-on:click="selected_row=index")
              .header
                | {{ item.name }}
              .right.floated.meta
                span.right.floated
                  template(v-if="(sorting==null || sorting=='' || sorting=='distance')")
                    i.road.icon
                    b {{ item.distance | truncateDistance }} km

                  template(v-if="sorting=='duration'")
                    i.stopwatch.icon
                    b {{ item.duration | durationToHMS}}

                  template(v-if="sorting=='pace'")
                    i.stopwatch.icon
                    b {{ item.avg_pace | truncate}} kph


                  template(v-if="sorting=='calories'")
                    i.stopwatch.icon
                    b {{ item.calories_burned | truncate}} kCal

              .meta
                | {{ item.start_time | prettyDate}}

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.road.icon
                  b {{ item.distance | truncateDistance }} km

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.stopwatch.icon
                  b {{ item.duration | durationToHMS}}

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.fire.icon
                  b {{ item.calories_burned | truncate}} kCal

            .extra.content(v-if="isSelectedRow(index)")
                span.left.floated.runonymous-stat
                  i.tachometer.alternate.icon
                  b {{ item.avg_pace | truncate}} kph

            .extra.content(v-if="isSelectedRow(index)")
              .buttons
                button.ui.icon.mini.basic.button(v-on:click="deleteTrack(index)")
                  i.trash.icon

    
    .ui.bottom.attached.tab.segment.upload-tab(data-tab="upload")
      form.ui.form#upload-form(method="post", action="/track", enctype="multipart/form-data")
        .field
          label Name
          input(type='text', name='name')

        .field
          label Activity Type
         
          select.ui.dropdown#activity_type-dropdown(name='activity_type')
            option(value="") None
            option(value="1") Running
            option(value="2") Cycling

        .field
          label GPX File
          input(type='file', name='gpx_file')

        button.ui.button(type='submit') Submit

  #main-map

block js
  script(src='/js/main.min.js')