doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/vendor.min.css')
    link(rel='stylesheet', href='/css/main.min.css')
    block css
  body
    .ui.top.menu.fixed#main-menu
      a.header.item
        i.road.icon
        | Runonymous
    
      .right.menu
        a.ui.item(href='/logout') Logout

    #main-content
      block content

  script(src='/js/vendor.min.js')
  script(src='/js/common.min.js')
  block js