doctype html
html
  head
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="/css/vendor.min.css")
    link(rel='stylesheet', href="/css/main.min.css")
    style(type="text/css").
      body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-image: url(images/bg-blur.jpg);
      }

      #site-title {
          text-align: center;
          color: #eee;

           text-shadow: 0 1px #333
       }
      }
  body
    #login-segment
      h1.ui.header#site-title runonymous.xyz
      .ui.top.attached.segment
        form#login-form.ui.form(method='post', action='/login')
          h3.ui.header Login
          .field
            label Username
            input(type='password', name='username')
          .field
            label Password
            input(type='password', name='password')

          button.ui.primary.button(type='submit') Submit

      .ui.bottom.attached.center.aligned.secondary.segment
        | Click 
        a(href="/register") here &nbsp;
        | to create a new account.
