doctype html
html
  head
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="/css/vendor.min.css")
    link(rel='stylesheet', href="/css/main.min.css")
    style(type="text/css").
      body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-image: url(images/bg-blur.jpg);
      }

  body
    #register-segment.ui.segment
      form#register-form.ui.form(method='post', action='/register')
        h3.ui.header Account Details

        .required.field
          label Username
          input(type='text', name='username')
        .required.field
          label Password
          input(type='password', name='password')
        .required.field
          label Confirm Password
          input(type='password', name='confirm_password')

        h3.ui.header Optional Details
        .ui.ignored.info.message These details are not required, but would help us provide you with more stats on your activites.

        .field
          label Birthdate
          .ui.calendar#register-birthdate
            .ui.input.left.icon
              i.calendar.icon
              input(type="text")

        .field
          label Sex
          .ui.action.input
            select.ui.compact.dropdown#sex-dropdown(name='sex')
              option(value="") None
              option(value="M") Male
              option(value="F") Female
            .ui.button#clear-sex-btn Unset

        .two.fields
          .field
            label Weight (kg)
            input(type='text', name='weight')

          .field
            label Height (cm)
            input(type='text', name='height')

        .ui.error.message

        button.ui.positive.button(type='submit') Submit

  script(src='/js/vendor.min.js')
  script(src='/js/register.min.js')