body {
  // padding: 50px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-menu {
  height: 45px;
}

#main-content {
  padding-top: 45px;
  width: 100%;
  height: 100%;
}

#main-map {
  margin-left: 280px;
  height: 100%;
  z-index: 100;
  border-left: solid 1px #cecece;
}

.leaflet-control-attribution {
  a {
    color: #333333;
  }
}

#login-segment {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
}


#register-segment {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

#info-box {
    background: #8d7cad;
    overflow: auto;
    position: absolute;
    top: 0px;
    width: 280px;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 25px;

  .ui.menu {
    background: #635086;
  }

  .runonymous-stat {
    i, b {
      color: #635086;

    }
  }

  .ui.bottom.attached.tab.segment {
    min-height: 100%;
  }

  .menu + .item {
    background: #efefef;
    border-radius: .28571429rem .28571429rem 0 0!important;
  }

  .menu + .active.item {
    background: #fff;
  }

  .card-tab {
    padding: 0 12px;

    .card > .content:nth-of-type(1) {
      cursor: pointer;
    }

    .selected.card {
      background: #f2f1ff;
    }

    .control-section {
      background: #f5f5f5;
    }
  }

  .upload-tab {
    background: none;

    .field label {
      color: #fff;
    }

    button.ui.button {
      color: #fff;
      background: #73ca8f!important;
    }
  }

  .runonymous-sorting {
    padding-top: 1em;
    color: #fff;

    a.right.floated.meta {
      float: right;
      cursor: pointer;

      i.icon {
        color: #635086;
      }
    }
  }
}